<a href="https://colab.research.google.com/github/surajx/AIFS/blob/master/AIFS_Lab1_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI From Scratch: Lab 1
By Suraj Narayanan Sasikumar, [Hessian AI Labs](https://www.hessianailabs.com.au)

# What is a programming language?
A *programming language* is a formal language which consists of a set of instruction that can be used to make computers do work.

In [57]:
# Multiply number from 1 to 50
prod = 1 # Variable
num = 1
while True: # Loop
  prod = prod * num
  num = num + 1
  if num > 50:
    break
print(prod)

30414093201713378043612608166064768844377641568960512000000000000

# Different types of Programming Languages

* *Compiled*: The program must be translated into machine understandable format before executing it. Eg: C++, C
* *Interpretted*: The operating system loads and interpretter which runs the program line-by-line.

![Block Diagram](https://github.com/surajx/AIFS/raw/master/images/aifs.png)

*Show difference between C++ and python*

# Python 3

* Python is an interpretted programming language.
* Very easy to learn since the syntaxes are almost english-like.
* Almost ubiquitously used in Data Science and AI.

# Comments in Python

Comment line are the most important and over-looked aspect of python. It provides an avenue for the programmer to futher explain her reasoning for the code.

There are two types of comments

* *Single-line*: Any text after the character #,  till the end of the line is considered as a comment, and the python interpreter ignores it. Eg:
  * `print("hello") # This line prints Hello`
  * `# This line is completely a comment, I can write anything here`
* *Multi-line comment*: Any text within the triple-quotation block, `""" """`, is considered as a comment, and is ignored by the python interpreter. When such a comment is writted as the first line(s) of a function/class, it is called a doc-string, which represents the documentation for the function/class.

In [58]:
print("hello") # This line prints Hello
# This line is completely a comment, I can write anything here
"""
  This is ignored
  more comment
  more and more comment
"""
def cube(num):
  """
    This comment block is the doc-string for the function cube
    This function returns the cube of a number
    input - num: int | float
    output- int | float
  """
  return num**3

hello

# Variables

A variable is python object that can hold data. The information can be a number, string, boolean etc. On the hardware, it's a block of memory reserved for storing a value.

## Assignment Operator (=)

Assigns some information to a variable.

In [0]:
# Example Assignment statement
two = 2
my_name = "Suraj"
single_digit_primes = [3,5,7]

### Displaying Variable Value

The `print()` function allows you to display the value stored in any variable.

In [60]:
print(two)
print(my_name)
print(single_digit_primes)

2
Suraj
[3, 5, 7]

### Variable Types

Depending in the value the variable is holding the variable can take the following types
* `int` for Integer numbers
* `float` for numbers that has decimal places
* `str` for strings
* `bool` for truth values.
* `NoneType` for empty object.

We can check the type of a variable by using the function `type()`

In [61]:
a = None
print("Type of a:", type(a))
a = 3
print("Type of a:", type(a))
a = 54.34
print("Type of a:", type(a))
a = "Sunny Day"
print("Type of a:", type(a))
a = True
print("Type of a:", type(a))

Type of a: <class 'NoneType'>
Type of a: <class 'int'>
Type of a: <class 'float'>
Type of a: <class 'str'>
Type of a: <class 'bool'>

# Functions

Functions are named, re-usable block of code, that is used to perform a single task. A function may or may-not take arguments, and may or may-not return any output. It can be called as `function_name(optional_input_to_function)`. There are many built-in functions in python such as `print()`, `len()`, etc. We can also write user-defined functions, more on that in a later lecture.

In [62]:
# print is a built-in function 
# print is the name of the function, and "Python is cool!" the argument to the funciton
print("Python is cool!") 

# Square is a user-defined function
# Name of the function is square, and arguments to the function is num
def square(num):
  """
    Returns the square of a number
    Input - num: int | float
    Output- int | float
  """
  return num**2 # return sends back the output of the function, if there is not return statement None is retured.

print(square(3))

Python is cool!
9

Functions are first-class variable in Python. Which means that it can be treated as a variable and passed into other functions as arguments.

Function can also be defined within other functions to be used as local funciton-objects.

In [63]:
def cube(num):
  """ Returns cube of a number """
  def square(num):
    """ Returns square of a number """
    return num ** 2
  return square(num) * num

print(cube(3))

def new_cube(squarer, num):
  return squarer(num) * num

def square(num):
  return num ** 2

print(new_cube(square, 3))

27
27

# Variable Scope

Scope refers to the region of the code where an object is accessible. There are two types of scopes in python. The `global` and `local` scope. Where access to a variable is requested, python first checks the local scope if the variable is present. If not, it then checks the global scope for the variable.

A Local scope is either a function-body or a class-body (next lecture)

In [64]:
# To-level of indentation is always global scope.
i_am_a_global_variable = "hello"
def print_hello_world():
  # Function scope is local
  i_am_a_local_variable = "World!"
  print(i_am_a_global_variable)
  print(i_am_a_local_variable)
print_hello_world()

hello
World!

Global variable can be accessed in local scope, but cannot be modified.

In [65]:
# To-level of indentation is always global scope.
i_am_a_global_variable = "hello"
def print_hello_world():
  # Function scope is local
  i_am_a_local_variable = "World!"
  # i_am_a_global_variable = i_am_a_global_variable + '!'
  print(i_am_a_global_variable)
  print(i_am_a_local_variable)
print_hello_world()

hello
World!

There can be local and global variables of the same name. Under the hood, they store their values in two different memory locations.

In [66]:
my_name = "Suraj" # Global Variable

def print_name():
  my_name = "Hao" # Local Variable
  print(my_name)

print_name()
print(my_name)

Hao
Suraj

# Data Structures

Ways of organizing multiple data that logically makes sense to be kept together. Data structures have their own data-types.

### Lists

Ordered and indexed collection of data that need not be homogeneous.

In [0]:
empty_list = []
shopping_list = ['eggs', 'butter', 'avocado', 'ham', 'bread']
non_homogeneous_list = ['eggs', 'avocado', 393, 'Pitt St']

The values in the list are indexed so we can retrieve them by their index. In almost all programming languages index always starts with 0.

In [68]:
print(shopping_list[0])
print(shopping_list[4])
print(shopping_list[-2])

eggs
bread
ham

In [69]:
print("Type of shopping_list:", type(shopping_list))

Type of shopping_list: <class 'list'>

To change the value of an element of the list use the assignment operator

In [70]:
shopping_list[3] = 'bacon'
print(shopping_list)

['eggs', 'butter', 'avocado', 'bacon', 'bread']

To know the size of a list use the `len()` function

In [71]:
print(len(shopping_list))

5

#### List Comprehension

List comprenhension is a short-hand to create list out of other data-structions. It also allows us to use control-flow statements to filter and select elements in data-structures.

In [72]:
# List comprehension
even_10 = [num for num in range(10) if num%2==0]
print(even_10)
# Equivalent
even_10=[]
for num in range(10):
  if num%2==0:
    even_10.append(num)
print(even_10)

# Another example
square_10 = [num ** 2 for num in even_10]
print(square_10)
#Equivalent
square_10 = []
for num in even_10:
  square_10.append(num ** 2)
print(square_10)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[0, 4, 16, 36, 64]
[0, 4, 16, 36, 64]

### Dictionaries

Data structure to store Key-Value pairs association. Order does not matter as it is not indexed.

In [0]:
empty_dict = {}
shopping_dict = {'eggs':10, 'butter':'200gms', 'avocado':5, 'ham':'1kg', 'bread':1 }

The values in the dictionary can be accessed by providing the required key.

In [74]:
print("Butter Quantity:", shopping_dict['butter'])
print("Eggs Quantity:", shopping_dict['eggs'])

Butter Quantity: 200gms
Eggs Quantity: 10

The keys once put in a dict cannot be changed. The way to change the name of the key is to add a new key-value pair and delete the old one,

In [75]:
del(shopping_dict['ham']) # If you re-run this cell, it'll throw error since the key 'ham' does not exist after deletion.
print(shopping_dict)
shopping_dict['bacon']='1kg'
print(shopping_dict)

{'eggs': 10, 'butter': '200gms', 'avocado': 5, 'bread': 1}
{'eggs': 10, 'butter': '200gms', 'avocado': 5, 'bread': 1, 'bacon': '1kg'}

Similar to lists, to change the value of a key in the dict, use the assignment operator.

In [76]:
shopping_dict['bacon']='2kg'
print(shopping_dict)

{'eggs': 10, 'butter': '200gms', 'avocado': 5, 'bread': 1, 'bacon': '2kg'}

To know the number of key-value pairs in a dict use the `len()` function

In [77]:
len(shopping_dict)

5

### Sets

In [78]:
a = set([1,2,3,3,4])
print(a)

{1, 2, 3, 4}

Since sets are not ordered the elements cannot be indexed and hence it cannot be accessed individually. But we can check for membership using the `in` and `not in` operators.

In [79]:
print(1 in a)
print(5 in a)
print(3 not in a)

True
False
False

Cardinality (size) of a set can be found using the `len()` function.

In [80]:
print(len(a))

4

### Tuples

In [81]:
a = tuple([1,2,3,3,4])
print(a)
a = (1,2,3,3,4) 
print(a)

(1, 2, 3, 3, 4)
(1, 2, 3, 3, 4)

The only difference between a tuple and a list is that once a tuple is defined it is immutable.

In [0]:
a = (1,2,3,3,4)
b = [1,2,3,3,4]
b[0]=2 #possible
#a[0]=2 #not-possible

# Dot Operator

Methods are functions that are part of a python object. Dot operator is used to call these methods. For example, the list data structure has method called `append()` which is used to append new elements to the end of a give list.

In [83]:
precious_metal_list = ['gold', 'silver']
print(precious_metal_list)
precious_metal_list.append('platinum') # Use the dot operator to call the append() method of the list object
print(precious_metal_list)

['gold', 'silver']
['gold', 'silver', 'platinum']

# Mathematical Operators

| Math      | Operator |
| ----------- | ----------- |
| Addition      | +       |
| Subtration   | -        |
| Multiplication   | *        |
| Division   | /        |
| Integer Division   | //        |
| Exponential   | **        |
| Remainder (modulo)   | %        |

# Boolean Operators

| Math      | Operator |
| ----------- | ----------- |
| Less than      | <       |
| Less than or equal   | <=        |
| Greater than   | >        |
| Greater than or equal  | >=        |
| Value Equality   | ==, !=        |
| Object Equality   | is, is not        |
| Membership   | in, not in        |
| Logical   | and, or, not        |

#  Repetition

In python we use loops to iterate the same block of code multiple times with optionally different values. The two main loop statements are: `for` and `while`

### `for` loop

The for loop iterates over the item of any sequence (list, dict, string, etc.)

In [84]:
my_list = ['a', 'b', 'c']
for elem in my_list:
  print(elem)

a
b
c

In [85]:
my_string = "hello"
for char in my_string:
  print(char)

h
e
l
l
o

`range([start], stop)` is a built-in function that generates a list from start (optional, 0 by default) to stop-1.

In [86]:
for num in range(5):
  print(num)

0
1
2
3
4

In [87]:
for num in range(3,7):
  print(num)

3
4
5
6

### `while` loop

The body of the `while` loop get executed until the condition associated with the while is falsified.

In [88]:
total = 0
num = 0
while num < 10: # the while conition
  total = total + num
  num = num + 1
print(total)

45

### Infinite loop

While writing a loop we need to make sure that the execution moves towards a state where the condition of the while can be falsified (or a `break` control flow is executed). Otherwise the while loop can execute the block ad infinitum.

In [89]:
total = 0
num = 0
while num < 10: 
  total = total + num
  num = num + 1
  # num = num - 1 # Infinite loop
print(total)

45

# Control Flow

Controls flow statements allow you manipulate the flow of execution of the program during runtime. Following are the control flow statements in python:

* `if <condition>:` - enters a block of code only if condition is `True`
* `if <condition>:` ... `else:` - enters the else block if condition is `False`
* `if <condition>:` ... `elif <condition>: ... - `elif allows you to check for another condition if the first if is `False`. The `elif` block can be added as many as required.
* `break` - breaks out of a `for` or `while` loop
* `continue` - resume the next iteration of the loop without executing the code after the `continue` statement

In [90]:
a = 9
if a%2 == 0: # checking if a is even
  print(a, 'is even.')
else:
  print(a, 'is odd.')

9 is odd.

In [91]:
a = 17
if a%2 == 0:
  print(a, 'is even.')
elif a%3 == 0:
  print(a, 'is odd and a multiple of three.')
else:
  print(a, 'is odd and not a multiple of three.')

17 is odd and not a multiple of three.

In [92]:
# Multiply number from 1 to 50
prod = 1 # Variable
num = 1
while True: # Loop
  prod = prod * num
  num = num + 1
  if num > 50:
    break
print(prod)

30414093201713378043612608166064768844377641568960512000000000000

In [93]:
# Print even numbers from 1 to 10
for num in range(1, 11):
  if num%2!=0:
    continue
  print(num)

2
4
6
8
10

In [94]:
# remove all vowels from string
string = "Hello world"
no_vowel_str = ""
for char in string:
  if char in ['a', 'e', 'i', 'o', 'u']:
    continue
  no_vowel_str = no_vowel_str + char
print(no_vowel_str)

Hll wrld

# Exception Handling

The `try: ... except: ...` code block in python allows us to catch errors that happen during the running of the code. Instead of the application crashing, we can:

* allow the code to gracefully exit by displaying proper error messages
* use different code to circumvent the error and proceed the program.

In [97]:
try:
  print(shopping_dict['ham'])
except:
  print("Error occoured: invalid shopping list entry.")

Error occoured: invalid shopping list entry.

I we can anticipate what kind of error is likely to occour we can catch those specific errors by providing the error name in the `except` block. If we specify an error all other errors won't be handled.

In [99]:
try:
  print(shopping_dict['ham'])
except KeyError:
  print("Error occoured: invalid shopping list entry.")

Error occoured: invalid shopping list entry.

We can catch multiple errors by specifying multiple `except` blocks. Only the first error would be caught and handled.

In [100]:
try:
  a = int("hello")
  print(shopping_dict['ham'])
except KeyError:
  print("Error occoured: invalid shopping list entry.")
except ValueError:
  print("Error occoured: trying to convert non-integer string to int type.")

Error occoured: trying to convert non-integer string to int type.

# Read the Documentation

The python documentation contains all the methods and attributes of the various objects we went through. Being able to parse and understand the python documention is an essential part of learning to code. To do the exercises below you'll have to refer to the documentation.

https://docs.python.org/3.6/

The best way to access the docs for a specific python object is to just google it along with "python doc" string. Eg: "list python doc" for documentation of the `list` data structure.

# Excercises

**Exercise 1:** Print the fibonacci series till N. Obtain the value of N from the user using the `input()` function. A fibonacci series $f$ is defined as $f_n= f_{n-1} + f_{n-2}$ and $f_1=0$ and $f_2=1$

**Exercise 2:** Given two sets car=\{'Honda', 'Ferrari', 'Mazda'\} and horse_power=\{306, 586, 240, 1000\} . Write a program to evaluate and display the cartesian product car$\times$horse_power

**Exercise 3:** Deisgn and Implement a two-player tic-tac-toe game with the following specification.
There are two players `player-x`, who marks `x` and `player-o`, who marks `o`. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner. When in turn, the players inputs the cell number as shows below to specify where they should place the mark.

![Tic Tac Toe](https://github.com/surajx/AIFS/raw/master/images/ttt_game.png)

*Hint:* lists can be two-dimensional

**Exercise 4:** Show by implementation that the ratio of successive terms $\frac{f_{n+1}}{f_n}$ of the fibonacci series converges to the golden ratio: $\phi=\frac{1+\sqrt{5}}{2}=1.618033988\ldots$